:root {
  --color-blue-100: #ddf3ff;

  --color-text-primary: #fff;
  --color-text-secondary: #3d3d3d;
  --color-text-tertiary: #8b98ae;
  --color-text-accent: #4388fa;
  --color-text-accent-dark: #0f2133;

  --color-background-primary: #fff;
  --color-background-secondary: #0b1926;
  --color-background-footer: #141414;

  --color-black: #000;
  --color-white: #fff;
  --color-border: #cbcbcb;

  --border-radius: 8px;
  --border-radius-sm: 8px;

  --size-xs: 4px;
  --size-sm: 8px;
  --size-md: 16px;
  --size-lg: 24px;
  --size-xl: 32px;
  --size-xxl: 48px;
  --size-xxxl: 64px;
}

@media only screen and (max-width: 900px) {
  br.full-width-line-break {
    display: none;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.text-primary {
  color: var(--color-text-primary);
}
.text-secondary {
  color: var(--color-text-secondary);
}
.text-tertiary {
  color: var(--color-text-tertiary);
}
.text-accent {
  color: var(--color-text-accent);
}
.text-accent-dark {
  color: var(--color-text-accent-dark);
}

.bg-primary {
  background-color: var(--color-background-primary);
}
.bg-secondary {
  background-color: var(--color-background-secondary);
}
.bg-footer {
  background-color: var(--color-background-footer);
}
.bg-black {
  background-color: var(--color-black);
}

.content {
  max-width: 1280px;
  padding-left: var(--size-lg);
  padding-right: var(--size-lg);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.paddingless-column-container {
  display: flex;
  flex-direction: column;
}

.padding-vertical-xxl {
  padding-top: var(--size-xxl);
  padding-bottom: var(--size-xxl);
}
.padding-vertical-xl {
  padding-top: var(--size-xl);
  padding-bottom: var(--size-xl);
}
.padding-vertical-lg {
  padding-top: var(--size-lg);
  padding-bottom: var(--size-lg);
}
.padding-vertical-md {
  padding-top: var(--size-md);
  padding-bottom: var(--size-md);
}
.padding-vertical-sm {
  padding-top: var(--size-sm);
  padding-bottom: var(--size-sm);
}
.padding-vertical-xs {
  padding-top: var(--size-xs);
  padding-bottom: var(--size-xs);
}

.content.md,
.paddingless-column-container.md {
  column-gap: var(--size-md);
  row-gap: var(--size-md);
}
.content.lg,
.paddingless-column-container.lg {
  column-gap: var(--size-lg);
  row-gap: var(--size-lg);
}
.content.xl,
.paddingless-column-container.xl {
  column-gap: var(--size-xl);
  row-gap: var(--size-xl);
}
.content.sm,
.paddingless-column-container.sm {
  column-gap: var(--size-sm);
  row-gap: var(--size-sm);
}
.content.xs,
.paddingless-column-container.xs {
  column-gap: var(--size-xs);
  row-gap: var(--size-xs);
}

.center {
  text-align: center;
}
.block {
  display: block;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "ProximaNovaLight", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

h5 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 32px;
    line-height: 38px;
  }
  h2 {
    font-size: 22px;
    line-height: 30px;
  }
  h3 {
    font-size: 18px;
    line-height: 24px;
  }
  h4 {
    font-size: 16px;
    line-height: 20px;
  }
  h5 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 380px) {
  h1 {
    font-size: 26px;
    line-height: 30px;
  }
}

.t3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
}

.t4 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
}
.t5 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 14px;
}

.t6 {
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 12px;
}
@media only screen and (max-width: 640px) {
  .t3 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
  }
  .t4 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 14px;
  }

  .t5 {
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 12px;
  }
}

.line-height-relaxed {
  line-height: 1.5;
}

.two-column-flex {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}

.two-column-flex > *:first-child {
  width: var(--left);
}
.two-column-flex > *:last-child {
  width: var(--right);
}

@media only screen and (max-width: 640px) {
  .two-column-flex.reverse-on-mobile {
    flex-direction: column-reverse;
  }
  .two-column-flex > *:first-child {
    width: 100%;
  }
  .two-column-flex > *:last-child {
    width: 100%;
  }
}

.four-column-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: var(--size-md);
  row-gap: var(--size-md);
}
.four-column-flex > * {
  flex: 1;
}
.four-column-flex.max-320 > * {
  max-width: 320px;
}
@media only screen and (max-width: 959px) and (min-width: 641px) {
  .four-column-flex > * {
    flex: 1 1 50%;
    max-width: calc(50% - 8px);
  }
  .four-column-flex.max-320 > * {
    flex: 1 1 50%;
    max-width: min(calc(50% - 8px), 320px);
  }
}
@media only screen and (max-width: 640px) {
  .four-column-flex > * {
    flex: 1 1 100%;
  }
}
.four-column-flex img {
  width: 100%;
  border-radius: var(--border-radius);
}

footer .bottom-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 75px;
}
@media only screen and (max-width: 640px) {
  footer .bottom-buttons {
    flex-wrap: wrap;
    column-gap: var(--size-md);
    row-gap: var(--size-md);
  }
  footer .bottom-buttons a {
    flex: 1 1 50%;
    max-width: calc(50% - 8px);
  }
}

footer .bottom-buttons a {
  text-decoration: none;
}

a.round-button {
  background-color: var(--color-text-accent);
  text-transform: uppercase;
  padding: 0 var(--size-md);
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  display: inline-block;
  text-decoration: none;
  color: var(--color-white);
}

.logo-scroller {
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent 5%,
    #000 30%,
    #000 70%,
    transparent 95%
  );
  mask-image: linear-gradient(
    90deg,
    transparent 5%,
    #000 30%,
    #000 70%,
    transparent 95%
  );
  overflow: hidden;
  gap: 0;
}
.logo-scroller-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  animation-name: loop-logo-scroller;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-duration: 30000ms;
}
.logo-scroller-content img {
  margin-right: 64px;
}
.logo-scroller-content img.height-35 {
  height: 35px;
}
.logo-scroller-content img.height-30 {
  height: 30px;
}
.logo-scroller-content img.height-25 {
  height: 25px;
}
@media only screen and (max-width: 760px) {
  .logo-scroller-content img.height-35 {
    height: 26px;
  }
  .logo-scroller-content img.height-30 {
    height: 22px;
  }
  .logo-scroller-content img.height-25 {
    height: 18px;
  }
  .logo-scroller-content img {
    margin-right: 40px;
  }
  .logo-scroller-content {
    animation-duration: 40000ms;
  }
}
@keyframes loop-logo-scroller {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(-50%, 0, 0);
  }
}

summary {
  list-style: none;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}

summary::-webkit-details-marker {
  display: none;
}

summary svg {
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
}
details[open] summary svg {
  transform: rotate(-90deg);
}
details {
  border-bottom: 1px solid var(--color-border);
}
details[open] {
  padding-bottom: var(--size-md);
}

.wistia-video {
  max-width: 720px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.lamp-right {
  width: 139px;
  bottom: 110px;
  right: 0;
  position: absolute;
  z-index: 100;
}

.lamp-left {
  width: 278px;
  bottom: 110px;
  left: 0;
  position: absolute;
  z-index: 100;
}

.camera-right {
  width: 184px;
  bottom: 80px;
  right: 7%;
  position: absolute;
  z-index: 101;
}
.camera-left {
  width: 185px;
  bottom: 110px;
  left: 8%;
  position: absolute;
  z-index: 101;
}
.assistant {
  width: 279px;
  bottom: 90px;
  left: auto;
  right: calc(50% + 320px);
  position: absolute;
  z-index: 102;
}
@media only screen and (max-width: 1300px) {
  .assistant {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .camera-left,
  .camera-right {
    display: none;
  }

  .lamp-right {
    left: calc(50% + 380px);
  }

  .lamp-left {
    left: auto;
    right: calc(50% + 250px);
  }
}
@media only screen and (max-width: 900px) {
  .lamp-left,
  .lamp-right {
    display: none;
  }
}

.splide__arrow {
  background: #0000;
  border: 0;
  color: #e5eeee;
  cursor: pointer;
  position: absolute;
  top: 50%;
}

.splide__arrow:focus {
  outline: 0;
}

.splide__arrow:focus-visible {
  outline: 3px solid #b4e900cc;
  outline-offset: 3px;
  z-index: 1;
}

.splide__arrow svg {
  fill: none;
  stroke: currentColor;
  stroke-linecap: square;
  stroke-width: 8px;
  height: 2.2rem;
  vertical-align: middle;
  width: 2.2rem;
}

@media screen and (max-width: 640px) {
  .splide__arrow svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.splide__arrow:disabled {
  opacity: 0.3;
}

.splide__arrow--prev {
  left: 0;
  transform: scaleX(-1) translateY(-50%);
  z-index: 1;
}

.splide__arrow--next {
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .splide__arrow--prev {
    left: 0;
  }
  .splide__arrow--next {
    right: 0;
  }
}

.splide__arrow svg {
  fill: none;
  stroke: currentColor;
  stroke-linecap: square;
  stroke-width: 8px;
  height: 2.2rem;
  vertical-align: middle;
  width: 2.2rem;
}

#testimonials-slider .splide__pagination {
  display: flex;
  flex-direction: row;
  column-gap: var(--size-md);
  text-align: center;
  line-height: 8px;
  appearance: none;
  font-size: 8px;
  padding: 0;
  margin: var(--size-md) 0 0 0;
}

#testimonials-slider .splide__pagination button,
#testimonials-slider .splide__pagination li {
  height: 16px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  border: 0;
  min-width: 16px;
}

#testimonials-slider .splide__pagination button {
  width: 16px;
  transition-property: background-color, width;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

#testimonials-slider .splide__pagination button:hover {
  background-color: var(--color-background-primary);
}

#testimonials-slider .splide__pagination button.is-active {
  background-color: var(--color-background-primary);
  width: 32px;
}

.testimonial {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  padding: var(--size-md);
  justify-content: center;
}

.testimonial > *:first-child {
  width: 320;
}
.testimonial > *:last-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 380px;
}

.testimonial img {
  border-radius: var(--border-radius);
}
.testimonial blockquote {
  flex: 1;
  max-width: 320px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0;
  padding: 0;
}
.testimonial .author {
  display: flex;
  flex-direction: column;
  row-gap: var(--size-xs);
}

@media screen and (max-width: 800px) {
  .testimonial {
    flex-direction: column;
    align-items: center;
    row-gap: var(--size-md);
  }
  .testimonial > *:last-child {
    display: flex;
    flex-direction: column;
    row-gap: var(--size-md);
  }
  .testimonial img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 100%;
  }
}

@media screen and (max-width: 500px) {
  #testimonials-slider .splide__arrows {
    display: none;
  }
  .testimonial {
    padding: 0;
  }
}

header {
  appearance: none;
  position: unset;
  height: 40px;
}

.menu {
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  right: 0;
  left: 0;
  padding: var(--size-sm) var(--size-lg);
  z-index: 1000;
  background-color: var(--color-background-secondary);
  transition: background-color 500ms ease-in-out;
  transition-property: background-color, box-shadow;
}
.menu > div {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu .logo {
  color: var(--color-white);
}
.scrolled .menu .logo {
  color: var(--color-text-accent-dark);
}

nav {
  display: flex;
  flex-direction: row;
  column-gap: var(--size-md);
  align-items: center;
  justify-content: center;
  min-height: 36px;
}

nav > button {
  color: var(--color-text-tertiary);
  font-size: 16px;
  line-height: 20px;
  padding: var(--size-sm);
  border: 0;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: color 150ms ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: var(--size-xs);
}
nav > button svg {
  display: inline-block;
  transform: rotate(90deg);
  transition: transform 150ms ease-in-out;
}
nav > button:hover {
  color: var(--color-text-accent);
}
nav > button:hover svg {
  transform: rotate(-90deg);
}

@keyframes slideDownAppearing {
  0% {
    content: var(--tw-content);
    transform: translateY(-10px);
  }
  to {
    content: var(--tw-content);
    transform: translateY(0);
  }
}

header.scrolled .menu {
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
header.scrolled .menu nav > button {
  color: var(--color-text-secondary);
}
header.scrolled .menu nav > button:hover {
  color: var(--color-text-accent);
}

.sub-menu {
  position: fixed;
  top: 65px;
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--border-radius);
  display: none;
}

.sub-menu.full-width {
  max-width: 1280px;
  width: calc(100% - 2 * var(--size-lg));
}

.sub-menu.three-col {
  flex-direction: row;
  justify-content: space-between;
  column-gap: var(--size-lg);
  padding: var(--size-md);
}

.sub-menu-item {
  display: flex;
  flex-direction: row;
  column-gap: var(--size-sm);
}
.sub-menu-item .zoom-hover-image {
  width: 118px;
  height: 72px;
  border-radius: calc(var(--border-radius) / 2);
}
.sub-menu-item h5 {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  text-wrap: balance;
}

.sub-menu.three-col > div {
  width: 33%;
}

.hamburger-menu {
  display: none;
}
@media only screen and (max-width: 640px) {
  h5 {
    max-height: 63px;
  }
}

@media screen and (min-width: 801px) {
  nav > button.has-sub-menu::before {
    position: absolute;
    left: calc(50% - 10px);
    bottom: -32px;
    width: 20px;
    height: 20px;
    display: inline-block;
    content: "";
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iLTEiIHk9IjEwLjMxMzciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgcng9IjQiIHRyYW5zZm9ybT0icm90YXRlKC00NSAtMSAxMC4zMTM3KSIgZmlsbD0iI0ZBRkFGQSIvPgo8L3N2Zz4K");
    opacity: 0;
    transform: translateY(10px) scale(0);
    transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
    transition-delay: 0;
    z-index: 100;
  }
  nav > button.show-button-arrow {
    color: var(--color-text-accent);
  }
  nav > button.show-button-arrow svg {
    transform: rotate(-90deg);
  }

  nav button.has-sub-menu.show-button-arrow::before {
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  }
  nav > button.show-submenu + .sub-menu {
    display: flex;
    opacity: 0;
    transform: translate(-50%, -10px);
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
  }
  nav > button.show-submenu + .sub-menu.one-col {
    width: calc(100% - 2 * var(--size-lg));
    max-width: 340px;
    flex-direction: column;
    padding: var(--size-md);
    row-gap: var(--size-sm);
  }

  nav > button.fade-in-submenu + .sub-menu {
    opacity: 1;
    transform: translate(-50%, 0px);
  }
}
@media screen and (max-width: 800px) {
  .scrolled .menu .logo,
  .menu-open .menu .logo {
    color: var(--color-text-accent-dark);
  }
  .hamburger-menu {
    display: block;
    cursor: pointer;
  }
  .logo-holder {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .hamburger-menu > *:first-child {
    display: block;
  }
  .hamburger-menu > *:last-child {
    display: none;
  }

  .menu-open .hamburger-menu > *:first-child {
    display: none;
  }
  .menu-open .hamburger-menu > *:last-child {
    display: block;
  }
  .menu-open header .menu {
    background-color: var(--color-white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .hamburger-menu svg {
    fill: #fafafa;
  }
  .scrolled .hamburger-menu svg,
  .menu-open .hamburger-menu svg {
    fill: #0f2133;
  }
  .menu-open nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .menu > div {
    flex-direction: column;
    row-gap: var(--size-md);
  }
  .sub-menu {
    display: none;
  }
  .menu {
    padding: var(--size-sm) var(--size-lg);
  }
  nav {
    display: none;
  }
  nav > button::before {
    display: none;
  }
  .menu-open nav {
    display: block;
  }
  nav > button {
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid var(--color-border);
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav > button:hover svg {
    transform: rotate(90deg);
  }
  button + .sub-menu {
    display: block;
    position: relative;
    top: initial;
    box-shadow: none;
    width: 100%;
    background-color: transparent;
    left: auto;
    transform: none;
    border-radius: 0;
  }
  button + .sub-menu.full-width {
    width: 100%;
  }
  nav > button.open svg,
  nav > button.open:hover svg {
    transform: rotate(-90deg);
  }

  .sub-menu,
  .sub-menu.three-col {
    display: none;
  }

  nav > button.open + .sub-menu,
  nav > button.open + .sub-menu {
    display: flex;
    flex-direction: column;
    row-gap: var(--size-md);
    padding: var(--size-xs) 0 var(--size-md) 0;
  }
  nav > button.open .sub-menu > div {
    width: 100%;
  }
  .sub-menu.three-col > div {
    width: 100%;
  }
}

.zoom-hover-image {
  border-radius: var(--border-radius);
  overflow: hidden;
  font-size: 0;
  display: flex;
}

.zoom-hover-image img {
  flex: 1;
  transition: transform 0.7s ease 0s;
}

.zoom-hover-image img:hover {
  transform: scale(1.12);
}

@keyframes zoomInScale {
  to {
    transform: scale(3);
  }
}
@keyframes zoomOutScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(3);
  }
}

.button-hover {
  animation-name: zoomOutScale;
  animation-timing-function: linear;
  animation-direction: reverse;
  animation-duration: 900ms;
  animation-fill-mode: both;
}
.button-hover:hover {
  animation-direction: normal;
}
